@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
:root {
  --main-color: #345048;
  --secondary-color: #547d63;
  --third-color: #8ca989;
  --Clay-Ash: #bdcaba;
  --Mercury: #e6e6e6;
  --gray: #777;
  --primary-color: #f1c40f;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: var(--Mercury);
}

.container {
  height: 85.7vh;
  width: 100%;
  position: relative;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form,
#register-form {
  background: #f9f9f9;
  padding: 25px;
  margin: 15px 0;
  width: 80%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"],
#register-form button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#login-from input[type="email"],
#login-from input[type="password"],
#login-from button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
/*Small*/
@media (min-width: 786px) {
  #login-form,
  #register-form {
    width: 80%;
  }
}
/*Medium*/
@media (min-width: 992px) {
  #login-form,
  #register-form {
    width: 35%;
  }
}

/*larger*/
@media (min-width: 1200px) {
  #login-form,
  #register-form {
    width: 35%;
  }
}
#login-form h3,
#register-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main-color);
}
#login-form h4,
#register-form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  position: relative;
}
#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"],
#register-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#register-form input[type="text"]:hover,
#register-form input[type="email"]:hover,
#register-form input[type="password"]:hover,
#register-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#login-form input[type="email"],
#login-form input[type="password"],
#login-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#login-form input[type="email"]:hover,
#login-form input[type="password"]:hover,
#login-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#login-form button[type="submit"],
#register-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #00543e;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#login-form button[type="submit"]:hover,
#register-form button[type="submit"]:hover {
  background: #002f24;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#login-form button[type="submit"]:active,
#register-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#login-form input:focus,
#login-form textarea:focus,
#register-form input:focus,
#register-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/* footer section start */
.copy-right-sec {
  padding: 0.8rem;
  background: var(--Clay-Ash);
  color: var(--main-color);
  text-align: center;
}
.copy-right-sec span {
  color: #b23f0d;
  margin-left: 2px;
  font-weight: 600;
}
.icons {
  font-size: 20px;
}
.icons > * {
  margin: 0 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
  padding: 7px;
  border-radius: 5px;
  color: var(--main-color);
}
.icons .linkedin:hover {
  color: #0077b5;
  background-color: #eee;
}
.icons .github:hover {
  color: #333;
  background-color: #eee;
}
.icons .gmail:hover {
  color: #3e65cf;
  background-color: #eee;
}
/* footer section end */
/* start validate */
.invalidFeedback {
  position: absolute;
  left: 0;
  bottom: -40%;
  color: #ff0505;
  margin: 0px 0px -3px 0px;
}
.invalid::placeholder {
  color: #ff0505;
}
/* end validate */
